@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "../../bower_components/sanitize-css/sanitize.scss";

@charset "utf-8";

#content {
	.search-box {
		position: absolute;
		line-height: 2rem;
		top: 0;
		left: 0;
		z-index: 10;
	}
}

#viewer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	.left {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-position: 100% 50%;
		background-size: contain;
	}
	.right {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-position: 0% 50%;
		background-size: contain;
	}
	.ui {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.nextBtn, .prevBtn, .menuBtn, .seekBar {
			position: absolute;
			opacity: 0;
			background-color: #000;
			border-radius: 10px;
		}
		.nextBtn {
			left: 0;
			top: 0;
			height: calc(100% - 5rem);
			width: 30%;
		}
		.prevBtn {
			right: 0;
			top: 0;
			height: calc(100% - 5rem);
			width: 30%;
		}
		.menuBtn {
			width: 40%;
			height: calc(100% - 5rem);
			top: 0;
			left: 30%;
		}
		.seekBar {
			height: 5rem;
			width: 100%;
			bottom: 0;
			left: 0;
			.nov {
				position: absolute;
				top: 0;
				border-radius: 50%;
				background-color: red;
				width: 5rem;
				height: 5rem;
				margin-left: -2.5rem;
			}
		}
		&.show {
			.nextBtn, .prevBtn, .menuBtn, .seekBar {
				opacity: 0.5;
			}
		}
	}
}